<div id="yzcchird">
	<div class="yzcchird-top">
		<button ui-sref="homepage.qy-yzc">已注册信息列表</button> > <button>**公司</button>
	</div>
	<div class="yzcchird-from">
		<div class="yzcchird-from-left">
			<button class="msee">公 司 信 息</button>
			<div>
					<button>公司名称</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>统一社会信用代码/注册号</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>企业行政隶属关系</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>所属嘎查（村/社区）</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>旗区级行业主管部门</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>市级行业主管部门</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>注册地址</button><input type="text" disabled="disabled">
				</div>
				
				<div>
					<button>法定代表人</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>成立日期</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>注册资金（万元）</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>固定资产（万元）</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>年利润（万元）</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>年产值（万元</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>单位注册登记类型</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>企业类型（国民经济行业分类）</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>监管分类大类</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>监管分类小类</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>企业规模</button><input type="text" disabled="disabled">
				</div>
				
				<div>
					<button>从业人员数量</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>特种作业人员数量</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>专职安全生产管理人员数</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>专职应急管理人员数</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>注册安全工程师人员数</button><input type="text" disabled="disabled">
				</div>
				<div>
					<button>公司地址</button><input type="text" disabled="disabled">
				</div>
			
			
			<button class="msee">注 册 信 息</button>
			<div>
				<button>用户名</button><input type="text" disabled="disabled">
			</div>
			<div>
				<button>密码</button><input type="password" disabled="disabled">
			</div>
			<div>
				<button>确认密码</button><input type="password"  disabled="disabled">
			</div>
			<div>
				<button>联系电话</button><input type="text" disabled="disabled">
			</div>
			<div>
				<button>邮政编码</button><input type="text" disabled="disabled">
			</div>
			<div>
				<button>电子邮箱</button><input type="text" disabled="disabled">
			</div>
			<div>
				<button>单位传真</button><input type="text" disabled="disabled">
			</div>
			<div class="borderr"></div>
		</div>
		<div class="yzcchird-from-right">
			<button>营业执照</button>
			<div></div>
		</div>
	</div>
</div>

<style>
	#yzcchird{
		width: 100%;
		height: 100%;
	}
	#yzcchird .yzcchird-top{
		width: 100%;
		height: 3%;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	#yzcchird .yzcchird-top button{
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
	}
	
	#yzcchird .yzcchird-from{
		width: 100%;
		height: 96%;
		overflow: auto;
		border-bottom: 5px solid #102041;
	}
	#yzcchird .yzcchird-from .yzcchird-from-left{
		width: 50%;
		height: 100%;
		float: left;
	}
	#yzcchird .yzcchird-from .yzcchird-from-left .msee{
		width: 100%;
		height: 5%;
		text-align: left;
		font-size: 15px;
		margin-top: 1%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		padding-left: 3%;
	}
	#yzcchird .yzcchird-from .yzcchird-from-left div{
		height: 4%;
		margin-top: 1.2%;
		width: 100%;
		text-align: center;
	}
	
	#yzcchird .yzcchird-from .yzcchird-from-left div input{
		height: 100%;
		width: 60%;
		padding-left: 5px;
		border: 1px solid #d4d4d7;
	}
	#yzcchird .yzcchird-from .yzcchird-from-left div button{
		height: 100%;
		width: 40%;
		text-align: right;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		padding-right: 10px;
	}
	
	
	
	
	
	
	#yzcchird .yzcchird-from .yzcchird-from-right{
		width: 50%;
		height: 100%;
		float: right;
	}
	
	#yzcchird .yzcchird-from .yzcchird-from-right button{
		width: 80%;
		height: 8%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		text-align: left;
		padding-left: 10px;
		margin-top: 5%;
	}
	#yzcchird .yzcchird-from .yzcchird-from-right div{
		width: 40%;
		margin-left: 2.4%;
		height: 40%;
		border:1px solid #D4D4D7;
	}
</style>