<div id="bmglnew">
	<div class="bmglnew-top">
		<button ui-sref="homepage.qx-bmgl">部 门 管 理</button> > <button>新 建 部 门</button>
	</div>
	<div class="bmglnew-bottom">
		<div class="bmglnew-bottom-from">
			<button class="bmglnew-bottom-title">
				部门 信 息
			</button>
			<div class="from-from">
				<div><button>部门名称</button><input type="text"></div>
				<div><button>部门所属行业</button><input type="text"></div>
				<div><button>上级部门</button><input type="text"></div>
			</div>
			<div class="from-btn">
				<button>确 认</button> <button>取 消</button>
			</div>
		</div>
	</div>
</div>
<style>
	#bmglnew{
		width: 100%;
		height: 100%;
	}
	#bmglnew .bmglnew-top{
		width: 100%;
		height: 3%;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	#bmglnew .bmglnew-top button{
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
	}
	#bmglnew .bmglnew-bottom{
		width: 100%;
		height: 95%;
	}
	#bmglnew .bmglnew-bottom .bmglnew-bottom-from{
		width: 95%;
		height: 95%;
		margin-left: 2.5%;
		border-radius: 5px;
	}
	#bmglnew .bmglnew-bottom .bmglnew-bottom-from .bmglnew-bottom-title{
		width: 100%;
		height: 10%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		font-size: 15px;
		text-align: left;
		padding-left: 10%;
	}
	#bmglnew .bmglnew-bottom .bmglnew-bottom-from .from-from{
		width: 100%;
		height: 82%;
	}
	#bmglnew .bmglnew-bottom .bmglnew-bottom-from .from-from div{
		width: 100%;
		height: 7%;
	}
	#bmglnew .bmglnew-bottom .bmglnew-bottom-from .from-from div button{
		width: 30%;
		height: 35px;
		text-align: right;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		padding-right: 20px;
		float: left;
	}
	#bmglnew .bmglnew-bottom .bmglnew-bottom-from .from-from div input{
		width: 40%;
		height: 35px;
	}
	#bmglnew .bmglnew-bottom .bmglnew-bottom-from .from-btn{
		width: 100%;
		height: 8%;
		text-align: center;
	}
	#bmglnew .bmglnew-bottom .bmglnew-bottom-from .from-btn button{
		width: 180px;
		height: 35px;
		color: #fff;
		margin-left: 2%;
	}
	#bmglnew .bmglnew-bottom .bmglnew-bottom-from .from-btn button:nth-child(1){
		background: #6096FA;
		border: 1px solid #6096FA;
	}
	#bmglnew .bmglnew-bottom .bmglnew-bottom-from .from-btn button:nth-child(2){
		background: #F8113C;
		border: 1px solid #F8113C;
	}
</style>