<div id="cdglnew">
	<div class="cdglnew-top">
		<button ui-sref="homepage.qx-cdgl">菜 单 管 理</button> > <button>新 建 菜 单</button>
	</div>
	<div class="cdglnew-bottom">
		<div class="cdglnew-bottom-from">
			<button class="cdglnew-bottom-title">
				菜 单 信 息
			</button>
			<div class="from-from">
				<div><button>菜单名称</button><input type="text"></div>
				<div><button>上级名称</button><input type="text"></div>
				<div><button>备注</button><textarea></textarea></div>
			</div>
			<div class="from-btn">
				<button>确 认</button> <button>取 消</button>
			</div>
		</div>
	</div>
</div>
<style>
	#cdglnew{
		width: 100%;
		height: 100%;
	}
	#cdglnew .cdglnew-top{
		width: 100%;
		height: 3%;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	#cdglnew .cdglnew-top button{
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
	}
	#cdglnew .cdglnew-bottom{
		width: 100%;
		height: 95%;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from{
		width: 95%;
		height: 95%;
		margin-left: 2.5%;
		border-radius: 5px;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from .cdglnew-bottom-title{
		width: 100%;
		height: 10%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		font-size: 15px;
		text-align: left;
		padding-left: 10%;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from .from-from{
		width: 100%;
		height: 82%;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from .from-from div{
		width: 100%;
		height: 7%;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from .from-from div button{
		width: 30%;
		height: 35px;
		text-align: right;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		padding-right: 20px;
		float: left;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from .from-from div input{
		width: 40%;
		height: 35px;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from .from-from div textarea{
		width: 40%;
		height: 250px;
		border: 1px solid #d4d4d7;
		float: right;
		margin-right: 30%;
		background: #fff;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from .from-btn{
		width: 100%;
		height: 8%;
		text-align: center;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from .from-btn button{
		width: 180px;
		height: 35px;
		color: #fff;
		margin-left: 2%;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from .from-btn button:nth-child(1){
		background: #6096FA;
		border: 1px solid #6096FA;
	}
	#cdglnew .cdglnew-bottom .cdglnew-bottom-from .from-btn button:nth-child(2){
		background: #F8113C;
		border: 1px solid #F8113C;
	}
</style>