<div id="zdglcheck">
	<div class="zdglcheck-top">
		<button ui-sref="homepage.qx-zdgl">字 典 管 理</button> > <button>修 改  删 除 字 典</button>
	</div>
	<div class="zdglcheck-bottom">
		<div class="zdglcheck-bottom-from">
			<button class="zdglcheck-bottom-title">
				字 典 信 息
			</button>
			<div class="from-from">
				<div><button>字典名称</button><input type="text" ng-disabled="isdisabled"></div>
				<div><button>上级名称</button><input type="text" ng-disabled="isdisabled"></div>
				<div><button>备注</button><textarea ng-disabled="isdisabled"></textarea></div>
			</div>
			<div class="from-btn">
				<button ng-click="zdglcheck()">{{sure}}</button> <button>删 除</button>
			</div>
		</div>
	</div>
</div>
<style>
	#zdglcheck{
		width: 100%;
		height: 100%;
	}
	#zdglcheck .zdglcheck-top{
		width: 100%;
		height: 3%;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	#zdglcheck .zdglcheck-top button{
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
	}
	#zdglcheck .zdglcheck-bottom{
		width: 100%;
		height: 95%;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from{
		width: 95%;
		height: 95%;
		margin-left: 2.5%;
		border-radius: 5px;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from .zdglcheck-bottom-title{
		width: 100%;
		height: 10%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		font-size: 15px;
		text-align: left;
		padding-left: 10%;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from .from-from{
		width: 100%;
		height: 82%;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from .from-from div{
		width: 100%;
		height: 7%;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from .from-from div button{
		width: 30%;
		height: 35px;
		text-align: right;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		padding-right: 20px;
		float: left;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from .from-from div input{
		width: 40%;
		height: 35px;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from .from-from div textarea{
		width: 40%;
		height: 250px;
		border: 1px solid #d4d4d7;
		float: right;
		margin-right: 30%;
		background: #fff;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from .from-btn{
		width: 100%;
		height: 8%;
		text-align: center;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from .from-btn button{
		width: 180px;
		height: 35px;
		color: #fff;
		margin-left: 2%;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from .from-btn button:nth-child(1){
		background: #6096FA;
		border: 1px solid #6096FA;
	}
	#zdglcheck .zdglcheck-bottom .zdglcheck-bottom-from .from-btn button:nth-child(2){
		background: #F8113C;
		border: 1px solid #F8113C;
	}
</style>