<div id="home">
	<div class="home-top">
		<div class="home-top-title">
			<button>最 新 消 息 通 知</button><button>******消息通知</button>
		</div>
		<div class="home-top-cont">
			<div class="ul">
				<div class="leftul pubul {{ul1}}">
					<ul>
						<li ui-sref="homepage.home.homegg"><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
					</ul>
				</div>
				<div class="rightul pubul {{ul2}}">
					<ul>
						<li ui-sref="homepage.home.hometz"><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
						<li><span>关于印发《2017年*************会议纪要》的通知</span><span>2017-05-27</span></li>
					</ul>
				</div>
				
			</div>
			<div class="more">
				<button ng-click="more1()">显 示 更 多</button><button ng-click="more2()">显 示 更 多</button>
			</div>
		</div>
	</div>
	<div class="home-bottom">
		<div class="home-bottom-title">
			<button>太 原 化 工 行 业 安 全 生 产 风 险 图 表 分 析</button>
		</div>
		<div class="home-bottom-cont">
			<div class="home-bottom-left" id="home-bottom-left">
				
			</div>
			<div class="home-bottom-right" id="home-bottom-right">
				
			</div>
		</div>
	</div>
</div>
<style>
	#home{
		width: 100%;
		height: 100%;
	}
	#home .home-top{
		width: 95%;
		height: 39%;
		margin-left: 2.5%;
	}
	#home .home-top .home-top-title{
		width: 100%;
		height: 10%;
	}
	#home .home-top .home-top-title button{
		width: 50%;
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		font-size: 20px;
		color: #000;
		font-weight: 600;
	}
	#home .home-top .home-top-cont{
		width: 100%;
		height: 90%;
		background: #fff;
		border-radius: 5px;
	}
	#home .home-top .home-top-cont .ul{
		width: 100%;
		height: 90%;
	}
	#home .home-top .home-top-cont .ul .leftul{
		width: 49.5%;
		height: 100%;
		float: left;
	}
	#home .home-top .home-top-cont .ul .rightul{
		width: 49.5%;
		border-left: 1px solid #D4D4D7;
		height: 100%;
		float: right;
	}
	#home .home-top .home-top-cont .ul .pubul ul{
		width: 80%;
		margin-left: 10%;
		height: 100%;
	}
	#home .home-top .home-top-cont .ul .pubul ul li{
		list-style: none;
		height: 45px;
		line-height: 45px;
	}
	#home .home-top .home-top-cont .ul .pubul ul li span:nth-child(1){
		float: left;
	}
	#home .home-top .home-top-cont .ul .pubul ul li span:nth-child(2){
		float: right;
	}
	
	
	
	
	
	#home .home-top .home-top-cont .more{
		width: 100%;
		height: 10%;
	}
	#home .home-top .home-top-cont .more button{
		width: 50%;
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		font-size: 13px;
		color: #005CBF;
		font-family: "微软雅黑";
	}
	
	#home .home-bottom{
		width: 95%;
		height: 59%;
		margin-left: 2.5%;
	}
	#home .home-bottom .home-bottom-title{
		width: 100%;
		height: 10%;
	}
	#home .home-bottom .home-bottom-title button{
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		font-size: 20px;
		color: #000;
		font-weight: 600;
		font-family: "微软雅黑";
	}
	#home .home-bottom .home-bottom-cont{
		width: 100%;
		height: 90%;
		background: #fff;
		border-radius: 5px;
	}
	#home .home-bottom .home-bottom-cont .home-bottom-left{
		width: 50%;
		height: 100%;
		float: left;
	}
	#home .home-bottom .home-bottom-cont .home-bottom-right{
		width: 50%;
		height: 100%;
		float: right;
	}
	.hiddenn{
		overflow: hidden;
	}
	.autoo{
		overflow: auto;
	}
</style>