<div id="aqscbbqdchird">
	<div class="aqscbbqdchird-router">
		<button ui-sref="homepage.aqscbbqd">返回上一级</button>
	</div>

	<div class="borderr"></div>
	<div class="aqscbbqdchird-table">
		<table id="table-table">
			<tr>
				<th colspan="18">安全生产报表清单</th>
			</tr>
			<tr>
				<th rowspan="2">序号</th>
				<th rowspan="2">辖区</th>
				<th rowspan="2">企业名称</th>
				<th rowspan="2">行业</th>
				<th colspan="4">风险数量</th>
				<th rowspan="2">1313131</th>
				<th rowspan="2">命名牌</th>
				<th colspan="2">隐患数量</th>
				<th rowspan="2">已完成</th>
				<th rowspan="2">未完成</th>
				<th rowspan="2">操作</th>
			</tr>
			<tr>
				<th>红</th>
				<th>橙</th>
				<th>黄</th>
				<th>蓝</th>
				<th>重大隐患</th>
				<th>一般隐患</th>
			</tr>
		</table>
	</div>
</div>


<style>
	#aqscbbqdchird{
		width: 100%;
		height: 100%;
	}
	#aqscbbqdchird .aqscbbqdchird-router{
		width: 100%;
		height: 3%;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	#aqscbbqdchird .aqscbbqdchird-router button{
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
	}
	
	
	#aqscbbqdchird .aqscbbqdchird-table{
		width: 95%;
		margin-left: 2.5%;
		height: 95%;
		overflow: auto;
	}
	#aqscbbqdchird .aqscbbqdchird-table table tr:nth-child(1){
		background: #A6D3FA;
	}
	#aqscbbqdchird .aqscbbqdchird-table table tr:nth-child(1) th{
		text-align: left;
		padding-left: 10px;
		color: #FFF;
	}
	#aqscbbqdchird .aqscbbqdchird-table table tr td {
		padding: 0;
		text-align: center;
	}

</style>