<div id="gzqktjb">
	<div class="gzqktjb-router">
		<button ui-sref="homepage.gzqktjb">返回上一级</button> > <button>**报表</button>
	</div>
	<div class="gzqktjb-title">
		<button>安全生产督查检查工作情况统计表</button>
	</div>
	<div class="gzqktjb-top">
		<label>报表名称</label><input type="text"> <label>统计单位</label><input type="text"> <label>统计时间</label><input type="text">
	</div>
	<div class="gzqktjb-table">
		<table id="tableee">
			<tr>
				<th>县(市,区),示范区(园区)开展督查价差工作情况</th>
				<th>督查工作组开展情况</th>
			</tr>
			<tr>
				<td>
					1. 出动检查组<input type="text">个,出动检查人员<input type="text">人(次)
				</td>
				<td>
					1. 督查乡镇(街办)<input type="text">个,部门<input type="text">个,企业<input type="text">家
				</td>
			</tr>
			
			<tr>
				<td>
					2. 检查企业<input type="text">家,重点行业领域企业<input type="text">家,排查隐患<input type="text">项,已整改<input type="text">项;
					列入挂牌督办的重大隐患<input type="text">项,已整改<input type="text">项,未整改的重大隐患<input type="text">项.
				</td>
				<td>
					2. 抽查重点行业领域企业情况:煤矿<input type="text">家;道路交通<input type="text">家;化工和危险化学品<input type="text">家;金属非金属矿山<input type="text">家,建筑施工和市政运营<input type="text">家,
					特种设备<input type="text">家,冶金工贸<input type="text">家,消防及人员密集场所<input type="text">家,民爆<input type="text">家,水利<input type="text">家,其他<input type="text">家.
				</td>
			</tr>
			
			
			<tr>
				<td>
					3. 责令限期整改企业<input type="text">家,责令停产停业整顿企业<input type="text">家,实施行政处罚罚款<input type="text">万元,关闭取缔企业<input type="text">家.
				</td>
				<td>
					3. 发现一般隐患<input type="text">项,已整改<input type="text">项;发现重大隐患<input type="text">项,列入挂牌督办<input type="text">项,目前已整改<input type="text">项,未整改<input type="text">项.
				</td>
			</tr>
			
			
			<tr>
				<td>
					4. 各类企业累计自查隐患问题<input type="text">项(其中重大隐患<input type="text">项),自改隐患问题<input type="text">项(其中重大隐患<input type="text">项),投入整改资金<input type="text">万元.
				</td>
				<td>
					4. 采取措施处理情况:建议当地政府责令限期整改企业<input type="text">家,责令停产停业企业<input type="text">家,实施行政处罚罚款<input type="text">万元,关闭取缔<input type="text">家.
				</td>
			</tr>
			
			<tr>
				<td>
					5. 今年以来,累计打击非法违法行为<input type="text">起,查封扣押设施设备<input type="text">套,追究刑事责任<input type="text">人,没收非法收入<input type="text">万元,行政处罚<input type="text">万元.
				</td>
				<td rowspan="2">
					5. 被督查的县级政府建立"四个清单"情况:今年以来共建立了<input type="text">条问题隐患清单,<input type="text">项的重大问题隐患领导干部挂牌督办清单(其中已整改完成并消号<input type="text">项),<input type="text">人
					的追责问责清单,<input type="text">家企业的联合惩戒"黑名单"(其中上报省安监局实施联合惩戒"黑名单"<input type="text">家企业)
				</td>
			</tr>
			
			<tr>
				<td>
					6. 双重预防机制 建设试点企业单位<input type="text">家,正在建设<input type="text">家,已完成<input type="text">家.
				</td>
			</tr>
		</table>
	</div>
	<div class="gzqktjb-foot">
		<input type="button" value="导 出 报 表">
	</div>
</div>

<style>
	#gzqktjb{
		width: 100%;
		height: 100%;
	}
	#gzqktjb .gzqktjb-router{
		width: 100%;
		height: 3%;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	#gzqktjb .gzqktjb-router button{
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
	}
	
	#gzqktjb .gzqktjb-title{
		width: 100%;
		height: 10%;
	}
	#gzqktjb .gzqktjb-title button{
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		font-size: 25px;
		font-weight: 600;
	}
	#gzqktjb .gzqktjb-top{
		width: 100%;
		height: 5%;
	}
	#gzqktjb .gzqktjb-top label{
		margin-left: 10%;
		font-weight: 600;
		font-size: 15px;
	}
	#gzqktjb .gzqktjb-top input{
		border: 0px;
		border-bottom: 1px solid #000;
		text-align: center;
		height: 95%;
		width: 15%;
		background: rgba(255,255,255,0);
	}
	#gzqktjb .gzqktjb-table{
		width: 95%;
		margin-left: 2.5%;
		height: 73%;
		margin-top: 1%;
		overflow: auto;
	}
	#gzqktjb .gzqktjb-table table tr td{
		text-align: left;
		padding: 10px 5px;
		width: 50%;
	}
	#gzqktjb .gzqktjb-table table tr:nth-child(even){
		background: #F7F7F9 !important;
	}

	#gzqktjb .gzqktjb-table table tr td input{
		border: 0px;
		border-bottom: 1px solid #000;
		text-align: center;
		height: 30px;
		width: 80px;
		background: rgba(255,255,255,0);
	}
	#gzqktjb .gzqktjb-foot{
		width: 95%;
		margin-left: 2.5%;
		height: 5%;
		text-align: center;
		margin-top: 10px;
	}
	#gzqktjb .gzqktjb-foot input{
		width: 80px;
		height: 80%;
		border: 0px;
		color: #fff;
	}
	#gzqktjb .gzqktjb-foot input[value="保 存"]{
		background: orangered;
	}
	#gzqktjb .gzqktjb-foot input[value="导 出 报 表"]{
		background: #0099FF;
		float: right;
	}
</style>