<div id="jzjcfxyh">
	<div class="jzjcfxyh-top"> 
		<div>
			<label>报表名称</label> <input type="text">
			<input type="button" value="提 交 报 表">
		</div>
	</div>
	<div class="borderr"></div>
	<div class="jzjcfxyh-table">
		<table id="table-table">
			<tr>
				<th colspan="14">集中检查风险隐患排查治理情况统计表</th>
			</tr>
			<tr>
				<th rowspan="3">阻止督察组</th>
				<th colspan="8">几种检查工作开展情况</th>
				<th colspan="5">执法处罚情况 </th>
			</tr>
			<tr>
				<th rowspan="2">检查企业</th>
				<th colspan="3">一般隐患</th>
				<th colspan="3">重大隐患</th>
				<th rowspan="2">打击非法违法行</th>
				<th rowspan="2"> 责令限期</th>
				<th rowspan="2">停产整顿</th>
				<th rowspan="2">处罚罚款</th>
				<th rowspan="2">暂扣吊销证照</th>
				<th rowspan="2">关闭取缔</th>
			</tr>
			<tr>
				<th>排查(项)</th>
				<th>已整改(项)</th>
				<th>未整改(项)</th>
				<th>排查(项)</th>
				<th>已整改(项)</th>
				<th>未整改(项)</th>
			</tr>
			<tr>
				<th>(个)</th>
				<th>(家)</th>
				<th>(项)</th>
				<th>(项)</th>
				<th>(项)</th>
				<th>(项)</th>
				<th>(项)</th>
				<th>(项)</th>
				<th>(起)</th>
				<th>(家)</th>
				<th>(家)</th>
				<th>(万元)</th>
				<th>(个)</th>
				<th>(家)</th>
			</tr>
			<tr>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
				<td><input type="text" ng-model="text1$index"></td>
			</tr>
			<tr>
				<th colspan="14">安全风险排查和防范化解情况</th>
			</tr>
			<tr>
				<th colspan="4">一般风险</th>
				<th colspan="6">较大风险</th>
				<th colspan="4">重大风险</th>
			</tr>
			<tr>
				<th colspan="2">排查</th>
				<th colspan="2">落实管控措施</th>
				<th colspan="3">排查</th>
				<th colspan="3">落实管控措施</th>
				<th colspan="2">排查</th>
				<th colspan="2">落实管控措施</th>
			</tr>
			<tr>
				<th colspan="2">(项)</th>
				<th colspan="2">(项)</th>
				<th colspan="3">(项)</th>
				<th colspan="3">(项)</th>
				<th colspan="2">(项)</th>
				<th colspan="2">(项)</th>
			</tr>
			<tr>
				<td colspan="2"><input type="text" ng-model="text1$index"></td>
				<td colspan="2"><input type="text" ng-model="text1$index"></td>
				<td colspan="3"><input type="text" ng-model="text1$index"></td>
				<td colspan="3"><input type="text" ng-model="text1$index"></td>
				<td colspan="2"><input type="text" ng-model="text1$index"></td>
				<td colspan="2"><input type="text" ng-model="text1$index"></td>
			</tr>
		</table>
	</div>
	<div class="jzjcfxyh-foot">
		<label>审核人</label><input type="text"> <label>填表人</label><input type="text"> <label>填报日期</label><input type="text">
	</div>
</div>

<style>
	#jzjcfxyh{
		width: 100%;
		height: 100%;
	}
	#jzjcfxyh .jzjcfxyh-router{
		width: 100%;
		height: 3%;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	#jzjcfxyh .jzjcfxyh-router button{
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
	}
	
	#jzjcfxyh .jzjcfxyh-title{
		width: 100%;
		height: 3%;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	#jzjcfxyh .jzjcfxyh-title button{
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
	}
	
	
	#jzjcfxyh .jzjcfxyh-top{
		width: 95%;
		margin-left: 2.5%;
		height: 8%;
	}
	#jzjcfxyh .jzjcfxyh-top div{
		width: 100%;
		height: 80%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		text-align: left;
		position: relative;
		top: 20%;
	}
	#jzjcfxyh .jzjcfxyh-top div label{
		font-weight: 600;
		font-size: 15px;
	}
	#jzjcfxyh .jzjcfxyh-top div input[type=text]{
		width: 20%;
		height: 25px;
	}
	#jzjcfxyh .jzjcfxyh-top div input[type=button]{
		width: 10%;
		height: 35px;
		float: right;
		color: #fff;
	}
	#jzjcfxyh .jzjcfxyh-top div input[value="筛 选"]{
		background: #6096FA;
		border: 1px solid #6096FA;
		margin-right: 1%;
	}
	#jzjcfxyh .jzjcfxyh-top div input[value="提 交 报 表"]{
		background: #FA7B14;
		border: 1px solid #FA7B14;
		margin-right: 1%;
	}
	#jzjcfxyh .jzjcfxyh-top div input[value="导 出 报 表"]{
		background: #0099FF;
		border: 1px solid #0099FF;
	}
	
	
	
	#jzjcfxyh .jzjcfxyh-table{
		width: 95%;
		margin-left: 2.5%;
		height: 82%;
		overflow: auto;
	}
	#jzjcfxyh .jzjcfxyh-table table tr:nth-child(1){
		background: #A6D3FA;
	}
	#jzjcfxyh .jzjcfxyh-table table tr:nth-child(1) th{
		text-align: left;
		padding-left: 10px;
		color: #FFF;
	}
	#jzjcfxyh .jzjcfxyh-table table tr td {
		padding: 0;
		text-align: center;
	}
	#jzjcfxyh .jzjcfxyh-table table tr td:last-child{
		width: 60px;
	}
	#jzjcfxyh .jzjcfxyh-table table tr td input{
		width: 100%;
		height: 100%;
		border: 1px dotted #9AABC7;
		background: rgba(255,255,255,0);
		text-align: center;
	}
	#jzjcfxyh .jzjcfxyh-foot{
		width: 95%;
		margin-left: 2.5%;
		height: 5%;
		text-align: center;
	}
	#jzjcfxyh .jzjcfxyh-foot label{
		margin-left: 10%;
		font-weight: 600;
		font-size: 15px;
	}
	#jzjcfxyh .jzjcfxyh-foot input{
		border: 0px;
		border-bottom: 1px solid #000;
		text-align: center;
		height: 95%;
		background: rgba(255,255,255,0);
	}
	
</style>