<div id="scdjcjzbhome">
	<div class="scdjcjzbhome-top"> 
		<div>
			<label>搜 索</label> <input type="text">
			<input type="button" value="新建报表" ui-sref="homepage.scdjcjzb.scdjcjzbchird">
			<input type="button" value="筛 选" ng-click="serch()">
		</div>
	</div>
	<div class="borderr"></div>
	<div class="scdjcjzbhome-table">
		<table id="table-table">
			<tr>
				<th colspan="10"><span>{{yearr}}</span>安全生产大检查进展情况表列表</th>
			</tr>
			<tr>
				<th>报表名称</th>
				<th>创建人</th>
				<th>所在机构</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><button ui-sref="homepage.scdjcjzb.scdjcjzbchirdchird">查看报表</button><button>删除</button></td>
			</tr>
		</table>
	</div>
</div>

<style>
	#scdjcjzbhome{
		width: 100%;
		height: 100%;
	}
	#scdjcjzbhome .scdjcjzbhome-title{
		width: 100%;
		height: 3%;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	#scdjcjzbhome .scdjcjzbhome-title button{
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
	}
	
	
	#scdjcjzbhome .scdjcjzbhome-top{
		width: 95%;
		margin-left: 2.5%;
		height: 8%;
	}
	#scdjcjzbhome .scdjcjzbhome-top div{
		width: 100%;
		height: 80%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
		text-align: left;
		position: relative;
		top: 20%;
	}
	#scdjcjzbhome .scdjcjzbhome-top div label{
		font-weight: 600;
		font-size: 15px;
	}
	#scdjcjzbhome .scdjcjzbhome-top div input[type=text]{
		width: 20%;
		height: 25px;
	}
	#scdjcjzbhome .scdjcjzbhome-top div input[type=button]{
		width: 10%;
		height: 33px;
		float: right;
		color: #fff;
	}
	#scdjcjzbhome .scdjcjzbhome-top div input[value="筛 选"]{
		background: #6096FA;
		border: 1px solid #6096FA;
		margin-right: 1%;
	}
	#scdjcjzbhome .scdjcjzbhome-top div input[value="新建报表"]{
		background: orangered;
		border: 1px solid orangered;
		margin-right: 1%;
	}
	#scdjcjzbhome .scdjcjzbhome-table{
		width: 95%;
		margin-left: 2.5%;
		height: 85%;
		overflow: auto;
	}
	#scdjcjzbhome .scdjcjzbhome-table table tr:nth-child(1){
		background: #A6D3FA;
	}
	#scdjcjzbhome .scdjcjzbhome-table table tr:nth-child(1) th{
		text-align: left;
		padding-left: 10px;
		color: #FFF;
	}
	
</style>