<div id="scdjcjzb">
	<div class="scdjcjzb-router">
		<button ui-sref="homepage.scdjcjzb">返回上一级</button> > <button>**报表</button>
	</div>
	<div class="scdjcjzb-title">
		<p>安全生产大检查进展情况表(第<input type="text">期)</p>
	</div>
	<div class="scdjcjzb-top">
		<label>报表名称</label><input type="text"> <label>填报单位</label><input type="text"> <label>填报日期</label><input type="number">月<input type="number">日
	</div>
	<div class="scdjcjzb-table">
		<table id="tableee">
			<tr>
				<th colspan="3">出动情况</th>
				<th colspan="7">隐患排查整治情况</th>
			</tr>
			<tr>
				<th>检查(督查)组(个)</th>
				<th>人员(人次)</th>
				<th>抽调专家(人次)</th>
				<th>检查企业(家)</th>
				<th>一般隐患(条)</th>
				<th>限期整改(条)</th>
				<th>县级挂牌重大隐患</th>
				<th>已整改(项)</th>
				<th>市级部门挂牌重大隐患</th>
				<th>已整改(项)</th>
			</tr>
			<tr>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<th colspan="10">重点行业领域检查情况</th>
			</tr>
			<tr>
				<th>重点行业企业(家)</th>
				<th>煤矿</th>
				<th>非煤</th>
				<th>尾矿库</th>
				<th>化工</th>
				<th>烟花爆竹</th>
				<th>冶金工贸</th>
				<th>道路交通</th>
				<th>建筑施工</th>
				<th>城镇燃气</th>
			</tr>
			<tr>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<th>消防及人员密集场所</th>
				<th>油气长输管道</th>
				<th>特种设备</th>
				<th>民爆</th>
				<th>水利</th>
				<th>矿产资源管理</th>
				<th>旅游</th>
				<th colspan="3">其他</th>
			</tr>
			<tr>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td colspan="3"><input type="text"></td>
			</tr>
			
			<tr>
				<th colspan="7">执法处罚情况</th>
				<th colspan="3">联合惩戒</th>
			</tr>
			<tr>
				<th>下达执法文书(份)</th>
				<th>限期整改</th>
				<th>停产停业整顿企业</th>
				<th>暂扣吊销执照企业</th>
				<th>处罚罚款(万元)</th>
				<th>关闭取缔</th>
				<th>追究刑事责任(人)</th>
				<th>失信企业</th>
				<th colspan="2">问责曝光工作不力单位</th>
			</tr>
			<tr>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td colspan="2"><input type="text"></td>
			</tr>
			<tr>
				<th colspan="3">企业自查隐患情况</th>
				<th colspan="7">企业自改隐患情况</th>
			</tr>
			<tr>
				<th>自查隐患</th>
				<th>一般隐患</th>
				<th>重大隐患</th>
				<th>自改隐患</th>
				<th>一般隐患</th>
				<th>重大隐患</th>
				<th colspan="2">重大隐患整改指定措施(条)</th>
				<th colspan="2">投入整改资金(万元)</th>
			</tr>
			<tr>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td colspan="2"><input type="text"></td>
				<td colspan="2"><input type="text"></td>
			</tr>
			<tr>
				<th colspan="7">四个清单情况</th>
				<th colspan="3">安全生产挂牌责任制落实情况</th>
			</tr>
			<tr>
				<th>问题整改清单</th>
				<th>重大隐患</th>
				<th>重大隐患整改销号</th>
				<th>追责问责(人)</th>
				<th>联合惩戒黑名单</th>
				<th colspan="2">上报省局实施联合惩戒(家)</th>
				<th>应挂牌企业(家)</th>
				<th>已建立监管责任台账(家)</th>
				<th>已挂牌(家)</th>
			</tr>
			<tr>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td colspan="2"><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<th colspan="2">重点行业领域挂牌情况</th>
				<th colspan="2">其他行业领域挂牌</th>
				<th colspan="6">事故调查处理情况</th>
			</tr>
			<tr>
				<th>已挂牌(家)</th>
				<th>挂牌率</th>
				<th>已挂牌(家)</th>
				<th>挂牌率</th>
				<th>发生事故(起)</th>
				<th>一般事故</th>
				<th>较大事故</th>
				<th>挂牌督办(起)</th>
				<th>已调查处理完成(起)</th>
				<th>其中较大事故</th>
			</tr>
			<tr>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<th colspan="3">事故调查处理情况</th>
				<th rowspan="2" colspan="4">召开事故警示教育现场会(次)</th>
				<th rowspan="2" colspan="3">下发事故警示通报(份)</th>
			</tr>
			<tr>
				<th>党纪处分</th>
				<th>刑事责任</th>
				<th>行政处罚</th>
			</tr>
			<tr>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td><input type="text"></td>
				<td colspan="4"><input type="text"></td>
				<td colspan="3"><input type="text"></td>
			</tr>
		</table>
	</div>
	<div class="scdjcjzb-foot">
		<!--<input type="button" value="保 存">-->
		<input type="button" value="导 出 报 表">
	</div>
</div>

<style>
	#scdjcjzb{
		width: 100%;
		height: 100%;
	}
	#scdjcjzb .scdjcjzb-router{
		width: 100%;
		height: 3%;
		background: #fff;
		border-bottom: 1px solid #000;
	}
	#scdjcjzb .scdjcjzb-router button{
		height: 100%;
		background: rgba(255,255,255,0);
		border: 0px;
		outline: none;
	}
	#scdjcjzb .scdjcjzb-title{
		width: 100%;
		height: 10%;
	}
	#scdjcjzb .scdjcjzb-title p{
		width: 100%;
		height: 100%;
		font-size: 25px;
		font-weight: 600;
		text-align: center;
		padding: 10px 0 0 0 ;
	}
	#scdjcjzb .scdjcjzb-title p input{
		border: 0px;
		border-bottom: 1px solid #000;
		text-align: center;
		height: 30px;
		width: 50px;
		background: rgba(255,255,255,0);
	}
	#scdjcjzb .scdjcjzb-top{
		width: 100%;
		height: 5%;
	}
	#scdjcjzb .scdjcjzb-top label{
		margin-left: 10%;
		font-weight: 600;
		font-size: 15px;
	}
	#scdjcjzb .scdjcjzb-top input{
		border: 0px;
		border-bottom: 1px solid #000;
		text-align: center;
		height: 80%;
		width: 15%;
		background: rgba(255,255,255,0);
	}
	#scdjcjzb .scdjcjzb-top input[type="number"]{
		width: 80px;
	}
	#scdjcjzb .scdjcjzb-table{
		width: 95%;
		margin-left: 2.5%;
		height: 73%;
		margin-top: 1%;
		overflow: auto;
		padding-bottom: 15px;
	}
	#scdjcjzb .scdjcjzb-table table tr:nth-child(even){
		background: #F7F7F9 !important;
	}
	#scdjcjzb .scdjcjzb-table table tr td{
		padding: 0;
	}
	#scdjcjzb .scdjcjzb-table table tr td input{
		width: 100%;
		height: 100%;
		border: 1px dotted #9AABC7;
		background: #F4F4F4;
		text-align: center;
	}
	#scdjcjzb .scdjcjzb-foot{
		width: 95%;
		margin-left: 2.5%;
		height: 5%;
		margin-top: 10px;
		text-align: center;
	}
	#scdjcjzb .scdjcjzb-foot input{
		width: 80px;
		height: 80%;
		border: 0px;
		color: #fff;
	}
	#scdjcjzb .scdjcjzb-foot input[value="保 存"]{
		background: orangered;
	}
	#scdjcjzb .scdjcjzb-foot input[value="导 出 报 表"]{
		background: #0099FF;
		float: right;
	}
</style>